@import url('https://fonts.googleapis.com/css?family=Lato:300,400|Poppins:300,400,800&display=swap');

body {
  font-family: 'Poppins';
  background: #2F495E;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  background: #2F495E;
  position: relative;

  .nav {
  	width: fit-content;
  	position: absolute;
  	color: white;
  	right: 20px;
  	top: 250px;
  	display: grid;
  	grid-gap: 10px;

  	.pushable {
  		-webkit-tap-highlight-color: transparent;
	    background: #091a28;
	    border-radius: 12px;
	    border: none;
	    padding: 0;
	    cursor: pointer;
	    outline-offset: 4px;
	    outline: none;
	  }
	  .front {
	    display: block;
	    padding: 10px 20px;
	    border-radius: 12px;
	    font-size: 1.25rem;
	    background: #1f2937;
	    color: white;
	    transform: translateY(-6px);
	  }

	  .pushable:active .front {
	    transform: translateY(-2px);
	  }

	  .pushable:hover .front {
	  	background: #e91e63;
	  }

	  
  }
}



* {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  height: 100vh;
  padding-top: 100px;
  

  display: flex;
  justify-content: center;

  .box {
    width: fit-content;
    height: fit-content;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;

    .title {
      width: 100%;
      position: relative;
      display: flex;
      align-items: center;
      height: 50px;

      .block {
        width: 0%;
        height: inherit;
        background: #6B21A8;
        position: absolute;
        animation: mainBlock 2s cubic-bezier(.74, .06, .4, .92) forwards;
        display: flex;
      }

      h1 {
        font-family: 'Poppins';
        color: #fff;
        font-size: 32px;
        -webkit-animation: mainFadeIn 2s forwards;
        -o-animation: mainFadeIn 2s forwards;
        animation: mainFadeIn 2s forwards;
        animation-delay: 1.6s;
        opacity: 0;
        display: flex;
        align-items: baseline;
        position: relative;

        span {
          width:0px;
          height: 0px;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
          background: #6B21A8;
          -webkit-animation: load 0.6s cubic-bezier(.74, .06, .4, .92) forwards;
          animation: popIn 0.8s cubic-bezier(.74, .06, .4, .92) forwards;
          animation-delay: 2s;
          margin-left: 5px;
          margin-top: -10px;
          position: absolute;
          bottom: 13px;
          right: -12px;

        }
      }
    }

    .role {
      width: 100%;
      position: relative;
      display: flex;
      align-items: center;
      height: 30px;
      margin-top: -10px;

      .block {
        width: 0%;
        height: inherit;
        background: #e91e63;
        position: absolute;
        animation: secBlock 2s cubic-bezier(.74, .06, .4, .92) forwards;
        animation-delay: 2s;
        display: flex;
      }

      p {
        animation: secFadeIn 2s forwards;
        animation-delay: 3.2s;
        opacity: 0;
         font-weight: 400;
        font-family: 'Lato';
        color: #ffffff;
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 5px;
      }
    }
  }
}

@keyframes mainBlock {
  0% {
    width: 0%;
    left: 0;

  }
  50% {
    width: 100%;
    left: 0;

  }
  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes secBlock {
  0% {
    width: 0%;
    left: 0;

  }
  50% {
    width: 100%;
    left: 0;

  }
  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes mainFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


@keyframes popIn {
  0% {
    width: 0px;
    height: 0px;
    background: #6B21A8;
    border: 0px solid #ddd;
    opacity: 0;
  }
  50% {
    width: 10px;
    height: 10px;
    background: #6B21A8;
    opacity: 1;
    bottom: 45px;
  }
   65% {
      width: 7px;
    height: 7px;
      bottom: 0px;
      width: 15px
   }
   80% {
      width: 10px;
    height: 10px;
      bottom: 20px
   }
  100% {
    width: 7px;
    height: 7px;
    background: #6B21A8;
    border: 0px solid #222;
    bottom: 13px;

  }
}

@keyframes secFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}




.page_container {
  padding: 20px;
  background: #2F495E;
  height: fit-content;
  color: #f5f7fa;
  font-family: 'Poppins';
  position: relative;

  .pushable {
    position: absolute;
    right: 20px;
    -webkit-tap-highlight-color: transparent;
    background: #091a28;
    border-radius: 12px;
    border: none;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    outline: none;

    .front {
      display: block;
      padding: 10px 20px;
      border-radius: 12px;
      font-size: 1.25rem;
      background: #1f2937;
      color: white;
      transform: translateY(-6px);
    }
  }

  .pushable:active .front {
    transform: translateY(-2px);
  }

  .pushable:hover .front {
    background: #e91e63;
  }

  .page_con {
    margin-top: 80px;
    overflow-x: scroll;

    .title {
      background: #e91e63;
      width: fit-content;
      padding: 5px 10px;
      margin-bottom: 30px;

    }
  }
}

a {
  color: pink;
}

@media only screen and (min-width: 452px) {

  #app {

    .nav {
      right: 40px;
    }
  }

  .page_container {

    .page_con {
      width: fit-content;
      margin: 80px auto;
      overflow-x: hidden;
    }    
  }
}